body{
	background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
color:white;
font-family:Helvetica,Arial;
font-size:20px;
}
,p,a {font-size:1.5em;


}
h1{
	background-color:red,0.7;
	font-size:2.5em;
	font-family:Times New Roman;
	border-style:dotted;
	text-align:center;
	border-top:none;
	border-left:none;
}

a{
color:white; 
transition:color 300ms ease-in ; 

}

a:hover { 
color:purple;
 }

 #container {
 	max-width:600px;
 	margin: 0 auto;
 }

 img{ 
 	max-width: 100%;
  }

  .link{
  list-style:none;
  }